.AddTaskPage {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.AddTaskPage h2 {
  text-align: center;
  margin-bottom: 20px;
}
.BackBtn {
  padding: 10px;
  background: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}