$primary-color: #7448ec;
$text-color: #333;

.menu {
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3rem;

    li {
      margin: 0;
      
    }

    a {
      text-decoration: none;
      color: $text-color;
      font-weight: 500;
      transition: color 0.3s ease;

      position: relative;
      padding-bottom: 5px;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $primary-color;

        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }

      &:hover {
        color: $primary-color;

        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}